{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<!-- import the style sheet for this particular page -->
<link rel="stylesheet" type="text/css" href="{% static 'pages/Legal/style_legal.css' %}">


<!--MAIN START-->
<div id="legal" class="container">
 <div id="jumbotronContentContainer" class="container col-lg-5">
        <div id="jumbotronContent" class="text-center">
    <h1>Legal Requirments</h1>
    <img src="{% static 'pages/Legal/Images/LegalBee.jpg' %}" width="208" height="215" align="middle" alt=""/>
<h2>State of Alaska Offical Regulations</h2>
    <ul>The importation of bees on beecombs and used beekeeping equiment into Alaska is prohibited.</ul>

	<ul>Bees can be imported in from out of state, but they must have a health certificate signed by an apiary inspector determined to be qualified by the division. <a href="https://www.lawserver.com/law/state/alaska/ak-statutes/alaska_statutes_chapter_03-47"target="_blank">Offical legal section</a> </ul>
	<ul>Local bees can brought from <a href="http://alaskahoneybee.com/dev/alaska-honey-bee-package-bees/" target="_blank"><div class = "box"><iframe src="http://alaskahoneybee.com/dev/alaska-honey-bee-package-bees/" width = "500px" height = "500px"></iframe></div>Alaska Honey Bee</a> and equiment from <a href="http://alaskabeeclub.com/?page_id=106"target="_blank">Alaska Bee Club</a></ul>
	<h2>Beekeeping License</h2>
	<ul>All Alaska beekeeps must register their bees with the state. <a href="http://dnr.alaska.gov/ag/Inspection/BeeRegistrationCard.pdf" target="_blank"> Form Link</a> </ul>

        </div>
 </div>
</div>
<hr>



<!--MAIN END-->


<!-- include the JS into this page -->
<script src="{% static 'pages/legal/script_legal.js' %}"></script>

{% endblock %}
<script type="text/javascript">

});
</script>
