{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<!-- import the style sheet for this particular page -->
<link rel="stylesheet" type="text/css" href="{% static 'research_and_videos/recommended_publications/style_recommended_publications.css' %}">



<!--MAIN START-->

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{%url 'homepage'%}">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">Research and Videos</li>
    <li class="breadcrumb-item active" aria-current="page">Recommended Publications</li>
  </ol>
<div id="store" class="container">
    <h1>Recommended Publications</h1>
    <p>
        There are lots of empirical studies about honey bees, beekeeping, management, pest control, honey production, and other related topics. Some of the articles I recommend are offered free of charge. Other articles, those published in recognized scientific journals, generally are available for a fee. Below are some articles I have found particularly interesting and helpful.
    </p>
    <p><a href="https://www.schweizerbart.de/publications/detail/isbn/9783510550487" target="_blank">Evolution and phylogeny of bees, John D. Plant, (Zoolologica – Heft 161) 2016.</a> </p>
    <p>These are the publications I recommend:</p>

    <ul>
        <li><p><a href="https://www.beeculture.com/" target="_blank">Bee Culture</a></p></li>
        <li><p><a href="https://westernapiculturalsociety.org/w-a-s-journal/" target="_blank">WAS Journal, Journal of Western Apicultural Society of North America, </a></p></li>
    </ul>
</div>

<!--MAIN END-->
<!-- include the JS into this page -->
<script src="{% static 'research_and_videos/recommended_publications/script_recommended_publications.js' %}"></script>

{% endblock %}
