{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<!-- import the style sheet for this particular page -->
<link rel="stylesheet" type="text/css" href="{% static 'overwintering_in_cold_weather/suitable_hives/style_suitable_hives.css' %}">



<!--MAIN START-->
<ol class="breadcrumb"style="background-color:#eee5be">
    <li class="breadcrumb-item"><a class="breadcrumbLink" href="{%url 'homepage'%}">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">Advanced Topics</li>
    <li class="breadcrumb-item active" aria-current="page">Suitable Hives</li>

  </ol>
<div class="container">
    <h1>Suitable Hives for Year Round Beekeeping</h1>
    <ul>
        <li>
            <p>Polystyrene hives of excellent quality:
                <br>
                <a target="_blank" class="themeLink" href="http://superiorbee.com">
                    http://superiorbee.com
                </a>
            </p>
        </li>
        <li><p>Winterizing your bee hive: <br><a target="_blank" class="themeLink" href="https://beebuilt.com/blogs/backyard-beekeeping-blog/76644932-winterizing-your-bee-hive">https://beebuilt.com/blogs/backyard-beekeeping-blog/76644932-winterizing-your-bee-hive</a></p></li>

        <li>
            <p>How to wrap a bee hive for cold winters:
                <br>
                <a target="_blank" class="themeLink" href="https://www.keepingbackyardbees.com/8-proper-beehive-placement-tips/">
                    https://www.keepingbackyardbees.com/8-proper-beehive-placement-tips/
                </a>
            </p>
        </li>

        <li>
            <p>How to winterize a bee hive:
                <br>
                <a target="_blank" class="themeLink" href="https://blog.murdochs.com/how-to-winterize-a-beehive/">
                    https://blog.murdochs.com/how-to-winterize-a-beehive/
                </a>
            </p>
        </li>

        <li>
            <p>Winter is coming. How to winterize your hives:
                <br>
                <a target="_blank" class="themeLink" href="http://www.beeandbloom.com/blog/winter-is-coming-prepare-bees-for-cold-months">
                    http://www.beeandbloom.com/blog/winter-is-coming-prepare-bees-for-cold-months
                </a>
            </p>
        </li>

        <li>
            <p>How to winterize a bee hive in northern climates:
                <br>
                <a target="_blank" class="themeLink" href="https://www.ebeehq.com/getting-started-beekeeping/how-to-winterize-a-beehive/">
                    https://www.ebeehq.com/getting-started-beekeeping/how-to-winterize-a-beehive/
                </a>
            </p>
        </li>
    </ul>
</div>
<!--MAIN END-->
<!-- include the JS into this page -->
<script src="{% static 'overwintering_in_cold_weather/suitable_hives/script_suitable_hives.js' %}"></script>

{% endblock %}
