{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<!-- import the style sheet for this particular page -->
<link rel="stylesheet" type="text/css" href="{% static 'cooking/recipes_with_honey/style_recipes_with_honey.css' %}">



<!--MAIN START-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{%url 'homepage'%}">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">More</li>
    <li class="breadcrumb-item" aria-current="page">Cooking</li>
      <li class="breadcrumb-item active" aria-current="page">Cooking With Honey</li>

  </ol>
<div id="store" class="container">

    <h1>Recipies With Honey</h1>
    <p>Here are some recipes that I recommend:</p>
    <ul>
        <li><p><a href="http://www.lcbaor.org/recipes/Honey_Pie_and_Filling.pdf" target="_blank">Honey Pie and Filling</a> </p></li>
        <li><p><a href="http://www.lcbaor.org/recipes/Chocolate_Chip_Cookies.pdf" target="_blank">Chocalte Cookies With Honey</a> </p></li>
        <li><p><a href="https://www.youtube.com/watch?v=ildRSUSWmc8" target="_blank">Meade</a> </p></li>
        <li><p><a href="https://www.youtube.com/watch?v=n2jnZeu7Y3A" target="_blank">Root Bear</a> </p></li>
        <li><p><a href="http://www.lcbaor.org/recipes/Honey_Popcorn.pdf" target="_blank">Honey Popcorn</a> </p></li>
    </ul>
</div>
<!--MAIN END-->
<!-- include the JS into this page -->
<script src="{% static 'cooking/recipes_with_honey/script_recipes_with_honey.js' %}"></script>

{% endblock %}
