{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<!-- import the style sheet for this particular page -->
<link rel="stylesheet" type="text/css" href="{% static 'legal_requirements/state_of_alaska/style_state_of_alaska.css' %}">



<!--MAIN START-->
<ol class="breadcrumb" style="background-color:#eee5be">
    <li class="breadcrumb-item"><a href="{%url 'homepage'%}">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">More</li>
    <li class="breadcrumb-item" aria-current="page">Legal Requirments</li>
      <li class="breadcrumb-item active" aria-current="page">State of Alaska</li>

  </ol>
<div id="store" class="container">
 <div id="jumbotronContentContainer" class="container col-lg-5">
        <div id="jumbotronContent" class="text-center">
            <p>
                Currently in Bee-velopment
            </p>
            <img class="img-thumbnail" id="Bee-Worker" src="{% static 'bee-worker.jpg' %}">
        </div>
 </div>
</div>
<!--MAIN END-->
<!-- include the JS into this page -->
<script src="{% static 'legal_requirements/state_of_alaska/script_state_of_alaska.js' %}"></script>

{% endblock %}
