{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<!-- import the style sheet for this particular page -->
<link rel="stylesheet" type="text/css" href="{% static 'legal_requirements/state_of_alaska/style_state_of_alaska.css' %}">



<!--MAIN START-->
<ol class="breadcrumb" style="background-color:#eee5be">
    <li class="breadcrumb-item"><a href="{%url 'homepage'%}">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">More</li>
    <li class="breadcrumb-item" aria-current="page">Legal Requirments</li>
      <li class="breadcrumb-item active" aria-current="page">State of Alaska</li>

  </ol>
<div id="legal" class="container">

    <h1>State of Alaska</h1>
    <div class="row">
        <div class="col-lg-6">
            <img style="width:100%" class="img-thumbnail" src="{% static 'legal_requirements/municipality_of_anchorage/images/LegalBee.jpg' %}" width="208" height="215" align="middle" alt=""/>
        </div>
    </div>
    <strong><p>Alaska Statutes</p></strong>
    <ul>
        <p>Title 3. Agriculture and Animals</p>

        <ul>
              <p>Chapter 47. Bees and Beekeeping Equipment</p>
              <ul>
              <p><a href="https://www.touchngo.com/lglcntr/akstats/Statutes/Title03/Chapter47/Section010.htm" target="_blank">Section 10.</a>  Importation.</p>
              <p><a href="https://www.touchngo.com/lglcntr/akstats/Statutes/Title03/Chapter47/Section020.htm" target="_blank">Section 20.</a> Importation of Bees.</p>
              <p><a href="https://www.touchngo.com/lglcntr/akstats/Statutes/Title03/Chapter47/Section030.htm" target="_blank">Section 30</a> Duties of the Division.</P>
              <p><a href="https://www.touchngo.com/lglcntr/akstats/Statutes/Title03/Chapter47/Section035.htm" target="_blank">Section 35</a> Penalty.</p>
              <p><a href="https://www.touchngo.com/lglcntr/akstats/Statutes/Title03/Chapter47/Section040.htm" target="_blank">Section 40</a> Definitions.</p>
              </ul>
          </ul>
    </ul>
</div>
<!--MAIN END-->
<!-- include the JS into this page -->
<script src="{% static 'legal_requirements/state_of_alaska/script_state_of_alaska.js' %}"></script>

{% endblock %}
