.cardRow {

    margin-bottom:10px;

}

.card-text {

    padding-top:0;

}

.card {

    padding:10px 10px 0px 10px;
    background-color: #dcdcdc;

}

.img-thumbnail {

    background-color: gray;

}