{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<!-- import the style sheet for this particular page -->
<link rel="stylesheet" type="text/css" href="{% static 'getting_started/recommended_equipment/style_recommended_equipment.css' %}">




<!--MAIN START-->

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{%url 'homepage'%}">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">Getting Stated</li>
    <li class="breadcrumb-item active" aria-current="page">Recommended Equipment</li>
  </ol>
<div id="store" class="container">
 <div id="jumbotronContentContainer" class="container col-lg-5">
        <div id="jumbotronContent" class="text-center">
            <p>
                Currently in Bee-velopment
            </p>
            <img class="img-thumbnail" id="Bee-Worker" src="{% static 'bee-worker.jpg' %}">
        </div>
 </div>
</div>
<!--MAIN END-->

<!-- include the JS into this page -->
<script src="{% static 'getting_started/recommended_equipment/script_recommended_equipment.js' %}"></script>

{% endblock %}
