{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<!--import the style sheet for this particular page-->
<link rel="stylesheet" type="text/css" href="{% static 'getting_started/classes/style_classes.css' %}">



<!--MAIN START-->
<ol class="breadcrumb" style="background-color:#eee5be">
    <li class="breadcrumb-item"><a href="{%url 'homepage'%}">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">Getting Stated</li>
    <li class="breadcrumb-item active" aria-current="page">Classes</li>

  </ol>
<div id="store" class="container" style="padding-bottom:100px;">
            <h1>Classes</h1>

            <h5>Introductory beekeeping classes are essential! </h5>
            <p> There is an assortment of beekeeping classes that are
                offered in person in Anchorage and/or online. I recommend the class I teach; for more information about
                classes scheduled for February 2020, contact me at:
                <a href="mailto: AlaskaBeekeeping@gmail.com">AlaskaBeekeeping@gmail.com</a>
            </p>
</div>


<!--MAIN END-->
<!--include the JS into this page-->
<script src="{% static 'getting_started/classes/script_classes.js' %}"></script>

{% endblock %}