{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<!-- TODO --- change to correct file
import the style sheet for this particular page
<link rel="stylesheet" type="text/css" href="{% static 'getting_started/hive_placement/style_hive_placement.css' %}">
-->



<!--MAIN START-->

<ol class="breadcrumb" style="background-color:#eee5be">
    <li class="breadcrumb-item"><a class="breadcrumbLink" href="{%url 'homepage'%}">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">Getting Stated</li>
    <li class="breadcrumb-item active" aria-current="page">Hive Placement</li>

  </ol>
<div class="container">
    <h1>Hive Placement</h1>
    <ul>
        <li><p>8 Proper bee hive placement tips: <br><a target="_blank" class="themeLink" href="https://www.keepingbackyardbees.com/8-proper-beehive-placement-tips/">https://www.keepingbackyardbees.com/8-proper-beehive-placement-tips/</a></p></li>
        <li><p>Pick the perfect location for your bee hives: <br><a target="_blank" class="themeLink" href="https://www.dummies.com/home-garden/hobby-farming/beekeeping/pick-the-perfect-location-for-your-beehive/">https://www.dummies.com/home-garden/hobby-farming/beekeeping/pick-the-perfect-location-for-your-beehive/</a></p></li>
    </ul>
</div>
<!--MAIN END-->

<!-- include the JS into this page -->
<script src="{% static 'getting_started/hive_placement/script_hive_placement.js' %}"></script>


{% endblock %}