{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<!-- TODO --- change to correct file
import the style sheet for this particular page
<link rel="stylesheet" type="text/css" href="{% static 'getting_started/hive_placement/style_hive_placement.css' %}">
-->



<!--MAIN START-->

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{%url 'homepage'%}">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">Getting Stated</li>
    <li class="breadcrumb-item active" aria-current="page">Hive Placement</li>

  </ol>
<div id="store" class="container">
 <div id="jumbotronContentContainer" class="container col-lg-5">
        <div id="jumbotronContent" class="text-center">
            <h2>
                Currently in Bee-velopment
            </h2>
            <img class="img-thumbnail" id="Bee-Worker" src="{% static 'bee-worker.jpg' %}">
        </div>
 </div>
</div>
<!--MAIN END-->

<!-- include the JS into this page -->
<script src="{% static 'getting_started/hive_placement/script_hive_placement.js' %}"></script>


{% endblock %}