{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<!-- import the style sheet for this particular page -->
<link rel="stylesheet" type="text/css" href="{% static 'gardening/pollinator_friendly_vegetation/style_pollinator_friendly_vegetation.css' %}">



<!--MAIN START-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{%url 'homepage'%}">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">More</li>
    <li class="breadcrumb-item" aria-current="page">Gardening</li>
      <li class="breadcrumb-item active" aria-current="page">Pollinator Friendly Vegetation</li>

  </ol>
<div id="store" class="container">
    <h2>Bee Gardening</h2>

    <p>
                Flower power is what bees need. Here are a few general tips: The five Mediterranean sisters: oregano, thyme, lavender, sage and wintergreen. These
offer curative benefits to bees. 
Plant in large clumps; think bee buffet vs. ala carte. Blossoms with high sugar content mean less
work for bees evaporating nectar to honey. Dandelion is one such plant bees enjoy and in Alaska
this is the first flower available for honey bees in the spring.  
Plants that bloom long, early and late in the season.
Berries, pear, apple and plum are also excellent. Native bees are especially well suited to these.
Seeking these plants? 
Plant three months before the heat arrives or in late fall. Roots need time, frequent watering and
fertilizing to take well.
Avoid at all costs plants systemically treated with neonicotinoids “neonics”, a proven pollinator-
killing nerve toxin.
            </p>
    <p>Some articles I personally recommend:</p>
    <ul>
    <li><p><a href="https://thehoneybeeconservancy.org/plant-a-bee-garden/" target="_blank">Plant a Bee Garden</a> </p></li>
    <li><p><a href="https://www.worldbeeday.org/en/did-you-know/86-best-honey-plants-to-help-save-bees.html" target="_blank">Best honey bee plants to help save the bees</a> </p></li>
    </ul>

</div>
<!--MAIN END-->
<!-- include the JS into this page -->
<script src="{% static 'gardening/pollinator_friendly_vegetation/script_pollinator_friendly_vegetation.js' %}"></script>

{% endblock %}
