{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<!-- import the style sheet for this particular page -->
<link rel="stylesheet" type="text/css" href="{% static 'legal_requirements/municipality_of_anchorage/style_municipality_of_anchorage.css' %}">

<!--MAIN START-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{%url 'homepage'%}">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">More</li>
    <li class="breadcrumb-item" aria-current="page">Legal Requirments</li>
      <li class="breadcrumb-item active" aria-current="page">Municipality of Anchorage</li>

  </ol>
<div id="legal" class="container">
 <div id="jumbotronContentContainer" class="container col-lg-5">
        <div id="jumbotronContent" class="text-center">
    <h1>Legal Requirments</h1>
    <img src="{% static 'legal_requirements/municipality_of_anchorage/images/LegalBee.jpg' %}" width="208" height="215" align="middle" alt=""/>
<h2>City of Anchorage</h2>
  </div>
 </div>
    <p>Beekeeping</p>
    <p>a. Definition</p>
<p>Keeping honey bees, Apis mellifera, for the purpose of education and/or
    producing honey or other products related to bees.</p>
    <p>b. Use-Specific Standards</p>
<p>i. Colonies of Apis mellifera shall be managed in such a manner that their flight path to and from
the hive will not bring them into contact with people on adjacent property. To accomplish this,
    colonies shall be:</p>
    <p>(A) At least 25 feet from any lot line not in common ownership; or</p>
    <p>(B) Oriented with entrances facing away from adjacent property; or</p>
<p>(C) Placed behind a fence at least six feet in height and extending at least ten feet beyond the
    hive in all directions.</p>
<p>ii. No more than four hives shall be placed on lots smaller than 10,000 square feet.</p>


</div>

<!--MAIN END-->
<!-- include the JS into this page -->
<script src="{% static 'legal_requirements/municipality_of_anchorage/script_municipality_of_anchorage.js' %}"></script>

{% endblock %}
