{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<!-- import the style sheet for this particular page -->
<link rel="stylesheet" type="text/css" href="{% static 'legal_requirements/municipality_of_anchorage/style_municipality_of_anchorage.css' %}">

<!--MAIN START-->
<ol class="breadcrumb" style="background-color:#eee5be">
    <li class="breadcrumb-item"><a href="{%url 'homepage'%}">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">More</li>
    <li class="breadcrumb-item" aria-current="page">Legal Requirments</li>
      <li class="breadcrumb-item active" aria-current="page">Municipality of Anchorage</li>

  </ol>
<div id="legal" class="container">
 <div id="jumbotronContentContainer" class="container col-lg-5">
        <div id="jumbotronContent" class="text-center">
    <h1>Legal Requirments</h1>
    <img src="{% static 'legal_requirements/municipality_of_anchorage/images/LegalBee.jpg' %}" width="208" height="215" align="middle" alt=""/>
<h2>State of Alaska Offical Regulations</h2>
  </div>
 </div>
    <p>Bee Colony Registration - Purchasers of bee colonies are required to send a card to the Division
of Agriculture indicating number and locations of colonies. For more information, contact the
        division at (907) 745-7200.</p>
    <p>
Beekeeping Ordinance for Municipality of Anchorage …
        (January 28, 2014 Page 5-110)</p>
    <p>Municipality of Anchorage Regulations for Keeping Bees</p>
    <p>3. Beekeeping</p>
    <p>a. Definition</p>
<p>Keeping honey bees, Apis mellifera, for the purpose of education and/or
    producing honey or other products related to bees.</p>
    <p>b. Use-Specific Standards</p>
<p>i. Colonies of Apis mellifera shall be managed in such a manner that their flight path to and from
the hive will not bring them into contact with people on adjacent property. To accomplish this,
    colonies shall be:</p>
    <p>(A) At least 25 feet from any lot line not in common ownership; or</p>
    <p>(B) Oriented with entrances facing away from adjacent property; or</p>
<p>(C) Placed behind a fence at least six feet in height and extending at least ten feet beyond the
    hive in all directions.</p>
<p>ii. No more than four hives shall be placed on lots smaller than 10,000 square feet.</p>

    <p>The importation of bees on beecombs and used beekeeping equiment into Alaska is prohibited.</p>

	<p>Bees can be imported in from out of state, but they must have a health certificate signed by an apiary inspector determined to be qualified by the division. <a href="https://www.lawserver.com/law/state/alaska/ak-statutes/alaska_statutes_chapter_03-47"target="_blank">Offical legal section</a> </p>
	<p>Local bees can brought from <a href="http://alaskahoneybee.com/dev/alaska-honey-bee-package-bees/" target="_blank"><div class = "box"><iframe src="http://alaskahoneybee.com/dev/alaska-honey-bee-package-bees/" width = "500px" height = "500px"></iframe></div>Alaska Honey Bee</a> and equiment from <a href="http://alaskabeeclub.com/?page_id=106"target="_blank">Alaska Bee Club</a></p>
            <p> <a href ="https://beesource.com/resources/usda/" target = "_blank">USDA Encyclo-bee-dia</a>
            </p>
	<h2 align="middle">Beekeeping License </h2>
	<p>All Alaska beekeeps must register their bees with the state. <a href="http://dnr.alaska.gov/ag/Inspection/BeeRegistrationCard.pdf" target="_blank"> Form Link</a> </p>


</div>

<!--MAIN END-->
<!-- include the JS into this page -->
<script src="{% static 'legal_requirements/municipality_of_anchorage/script_municipality_of_anchorage.js' %}"></script>

{% endblock %}
