#headerJumbotron {
    background-image: url("images/BeeBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

#jumbotronContentContainer {
    background: rgb(0,0,0, 0.3);
    border-radius: 10px;
    display: block;
    margin: auto;
}

#headerJumbotron hr {

    border-top: 1px solid white;

}

#about {

    padding-bottom:30px;

}

#profilePic {

    width:350px;

}
