{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<!-- import the style sheet for this particular page -->
<link rel="stylesheet" type="text/css" href="{% static 'store/product_detail/style_product_detail.css' %}">

<!--MAIN START-->

<!-- START: Back Button -->
    <div class="groupButtonContainer col-md-2">
        <a href="{%url 'product_list'%}">
            <button class="defaultButton btn btn-block">
                &larr; Go Back
            </button>
        </a>
    </div>
<!-- END: Back Button -->

<div class="container">
    <h1>{{ product.item_name }}</h1>

    <div class="row">

        <div class="col-md-7">
            <img class="img-thumbnail" id="mainImage" src="{{ product.product_image.url }}">
            <p>
                {{ product.description }}
            </p>
        </div>

        <div id="requestContainer" class="col-md-5">
            <p class="productValues"><strong>Price:</strong> ${{ product.product_price }}</p>
            <p class="productValues"><strong>Inventory:</strong> {{ product.product_quantity }}</p>
            <form id="requestForm" class="themeBgColor" action="/store/{{ product.slug }}/" method="POST">
                {% csrf_token %}
                {% if form.none_field_errors %}
                    <div class="alert alert-primary" role="alert">{{ form.non_field_errors }}</div>
                {% endif %}
                <div class="form-group">
                    <label>{{ form.first_name.label}}</label>
                    {% if form.first_name.errors %}
                        <div class="alert alert-primary" role="alert">{{ form.first_name.errors }}</div>
                    {% endif %}
                    <p>{{ form.first_name }}</p>
                </div>
                <div class="form-group">
                    <label>{{ form.last_name.label }}</label>
                    {% if form.last_name.errors %}
                        <div class="alert alert-primary" role="alert">{{ form.last_name.errors }}</div>
                    {% endif %}
                    <p>{{form.last_name}}</p>
                </div>
                <div class="form-group">
                    <label>{{ form.phone_number.label }}</label>
                    {% if form.phone_number.errors %}
                        <div class="alert alert-primary" role="alert">{{ form.phone_number.errors }}</div>
                    {% endif %}
                    <p>{{ form.phone_number }}</p>
                </div>

                <div class="form-group">
                    <label>{{ form.email.label }}</label>
                    {% if form.email.errors %}
                        <div class="alert alert-primary" role="alert">{{ form.email.errors }}</div>
                    {% endif %}
                    <p>{{ form.email }}</p>
                </div>
                <div class="form-group">
                    <label>{{ form.quantity.label }}</label>
                    {% if form.quantity.errors %}
                        <div class="alert alert-primary" role="alert">{{ form.quantity.errors }}</div>
                    {% endif %}
                    <p>{{ form.quantity }}</p>
                </div>

                <hr>

                <div class="form-group">
                    <label>{{ form.address.label }}</label>
                    {% if form.address.errors %}
                        <div class="alert alert-primary" role="alert">{{ form.address.errors }}</div>
                    {% endif %}
                    <p>{{ form.address }}</p>
                </div>
                <div class="form-group">
                    <label>{{ form.address_2.label }}</label>
                    {% if form.address_2.errors %}
                        <div class="alert alert-primary" role="alert">{{ form.address_2.errors }}</div>
                    {% endif %}
                    <p>{{ form.address_2 }}</p>
                </div>

                <div class="form-group">
                    <label>{{ form.city.label}}</label>
                    {% if form.city.errors %}
                        <div class="alert alert-primary" role="alert">{{ form.city.errors }}</div>
                    {% endif %}
                    <p>{{ form.city }}</p>
                </div>
                <div class="form-group">
                    <label>{{ form.state.label }}</label>
                    {% if form.state.errors %}
                        <div class="alert alert-primary" role="alert">{{ form.state.errors }}</div>
                    {% endif %}
                    <p>{{ form.state }}</p>
                </div>

                <div id="zipcodeContainer" class="form-group">
                    <label>{{ form.zip_code.label }}</label>
                    {% if form.zip_code.errors %}
                        <div class="alert alert-primary" role="alert">{{ form.zip_code.errors }}</div>
                    {% endif %}
                    <p>{{ form.zip_code }}</p>
                </div>

                <button id="requestButton" type="submit" class="btn btn-success">Request</button>

            </form>
        </div>

    </div>

</div>
<!--MAIN END-->

<!-- include the JS into this page -->
<script src="{% static 'store/product_detail/script_product_detail.js' %}"></script>

{% endblock content%}
