{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/be98e44361.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/umd/util.js"></script>

    <title>Cold Weather Bee Keeping</title>

    <link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}">

</head>

<body data-spy="scroll" data-target="#navbar-main" data-offset="50">


    <!--HEADER START-->
    <nav id="navbar-main" class="fixed-top navbar navbar-expand-lg navbar-light themeBgColor">
        <a class="navbar-brand" href="#"><img id="logoImage" src="{% static 'pages/images/logoBee.png' %}"> Beekeeping In Alaska</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#headerJumbotron">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#differentBees">Different Bees</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Education</a>
                        <a class="dropdown-item" href="#">Articles</a>
                        <a class="dropdown-item" href="#">Store</a>
                        <a class="dropdown-item" href="#">Community</a>
                        <a class="dropdown-item" href="#">Recommended Sites</a>
                        <a class="dropdown-item" href="#">Legal Requirements</a>
                    </div>
                </li>
            </ul>

            <form id="headerSearch" class="form-inline my-2 my-lg-0">
                <input id="search" class="form-control mr-sm-2" type="search" placeholder="Search">
                <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
            </form>

            <!-- weather widget start -->
            <div id="weatherWidget">
                <a target="_blank" href="https://www.booked.net/weather/anchorage-1062">
                    <img src="https://w.bookcdn.com/weather/picture/21_1062_0_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=w209&anc_id=27792" alt="booked.net" />
                </a>
            </div>
            <!-- weather widget end -->

            <script type="text/javascript">var css_file = document.createElement("link"); css_file.setAttribute("rel", "stylesheet"); css_file.setAttribute("type", "text/css"); css_file.setAttribute("href", 'https://s.bookcdn.com/css/w/bw-160-36.css?v=0.0.1'); document.getElementsByTagName("head")[0].appendChild(css_file); function setWidgetData(data) { if (typeof (data) != 'undefined' && data.results.length > 0) { for (var i = 0; i < data.results.length; ++i) { var objMainBlock = document.getElementById('m-booked-small-t3-92199'); if (objMainBlock !== null) { var copyBlock = document.getElementById('m-bookew-weather-copy-' + data.results[i].widget_type); objMainBlock.innerHTML = data.results[i].html_code; if (copyBlock !== null) objMainBlock.appendChild(copyBlock); } } } else { alert('data=undefined||data.results is empty'); } }</script>
            <script type="text/javascript" charset="UTF-8" src="https://widgets.booked.net/weather/info?action=get_weather_info&ver=6&cityID=1062&type=13&scode=124&ltid=3457&domid=w209&anc_id=48935&cmetric=0&wlangID=1&color=338fff&wwidth=158&header_color=fff5d9&text_color=ffffff&link_color=ffffff&border_form=0&footer_color=fff5d9&footer_text_color=333333&transparent=0"></script><!-- weather widget end -->
        </div>
    </nav>
    <!--HEADER END-->


    <!--MAIN START-->
    <div id="headerJumbotron" class="jumbotron">
        <div id="jumbotronContentContainer" class="container col-lg-5">
            <div id="jumbotronContent" class="text-center">
                <h1 class="display-4">BeeKeeping In Alaska</h1>
                <p class="lead">Find out how you can help the bees.</p>
                <hr class="my-4">
                <p><strong>Want to know more? Join our mailing list!</strong></p>
                <form>

                    <div class="form-row justify-content-center">

                        <div class="col-auto">
                            <label class="sr-only" for="inlineFormInputGroup">Username</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">@</div>
                                </div>
                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
                            </div>
                        </div>

                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary mb-2">Sign up</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div id="about" class="container">

        <h1>About</h1>

        <img class="img-thumbnail" id="profilePic" src="{% static 'pages/images/profilePic.jpg' %}">

        <h2>Me</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <h1>About</h1>
        <p>
            This Website and accompanying Facebook page is for Alaska beekeepers (Alaska Beeks) and others seeking
            information about keeping honey bees, and maintaining honey bee health, in the 49th state. The honey-producing
            season in Alaska is brief, compared to seasons in other states, and after a mild spring and a wet and sunny
            summer, the calendar is rounded out by sometimes bone-chilling temperatures during our long winter months.
            This page is primarily intended as an encouragement for those involved and considering the art, informed by
            science, of beekeeping. This can become a welcoming question-and-answer forum for all of us. Most of all we
            want to encourage and help Alaska beeks be successful. Please join us in dialogs, questions and answers,
            about beekeeping in Alaska. We'd like to see this Website and Facebook page grow by means of a grassroots
            growth efforts!
        </p>

    </div>

        <hr>

    <div id="differentBees" class="container">

        <h1>Different Bees</h1>
        <p>
            Honey Bees are flown up to Alaska each Spring by commercial businesses. Initial orders are placed in late
            January and the first honey bees arrive in early April. So beeks must be ready for them, sometimes, when
            there is still snow on the ground!
        </p>
        <p>
            The three most common types of honey bees that are available here are:  Carniolan, Italian, and Buckfast
            bees. Some Russian honey bees are in Alaska, but they are fewer in number.
        </p>
        <p>
        The following descriptions have been taken from Countrysidenetwork.com
        </p>

        <h2>Carniolan Bees</h2>
        <p>
            Carniolan bees are a subspecies of the western honeybee and originated in what is now Slovenia. They can also
            be found in Hungary, Romania, Croatia, Bosnia, Herzegovina, and Serbia.
        </p>

        <h4>Pros</h4>
        <ul>
            <li>Defend their hive well from pests</li>
            <li>Not aggressive toward beekeepers</li>
            <li>Able to quickly adjust hive size based on environmental issues</li>
            <li>Able to conserve honey stores</li>
            <li>Can overwinter with fewer bees</li>
            <li>Less susceptible to brood disease</li>
            <li>Forages in cooler, overcast weather</li>
        </ul>
        <h4>Cons</h4>
        <ul>
            <li>Prone to swarm</li>
            <li>More likely to need supplemental feeding — especially in the early spring</li>
            <li>Has a hard time in hot summers</li>

        </ul>

        <h2>Italian Bees</h2>
        <p>
            The Italian bee is the most popular bee for beekeepers in North American. They were brought to the
            United States in the mid-1800s and are considered the best bee for beginning beekeepers.
        </p>

        <h4>Pros</h4>
        <ul>
            <li>Adaptable to various climates</li>
            <li>Good honey producers</li>
            <li>Gentle and non-aggressive</li>
            <li>Great foragers</li>
            <li>Large colonies</li>
            <li>Darker queen – making her easier to identify</li>
        </ul>
        <h4>Cons</h4>
        <ul>
            <li>Prone to rob and drift</li>
            <li>Raises brood late in fall which means more mouths to feed in winter</li>
            <li>They do not cluster tightly in the winter so they consume more honey to stay warm</li>

        </ul>

    </div>
    <!--MAIN END-->


    <!--FOOTER START-->
    <div id="footer" class="container-fluid">

        <p><strong>Follow us here!</strong></p>

        <div id="socialMediaContainer" class="row">

            <div class="col-xs-1">
                <a href="https://www.facebook.com/" target="_blank"><img class="social-icon" src="{% static 'pages/images/facebookIcon.png' %}"></a>
            </div>

            <div class="col-xs-1">
                <a href="https://twitter.com/?lang=en" target="_blank"><img class="social-icon" src="{% static 'pages/images/twitterIcon.png' %}"></a>
            </div>

            <div class="col-xs-1">
                <a href="https://www.instagram.com/" target="_blank"><img class="social-icon" src="{% static 'pages/images/instagramIcon.png' %}"></a>
            </div>

        </div>
    </div>
    <!--FOOTER END-->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script type="text/javascript">

    </script>

</body>
