{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<!-- import the style sheet for this particular page -->
<link rel="stylesheet" type="text/css" href="{% static 'pages/calendar/style_calendar' %}">



<!--MAIN START-->

<div id="calendar" class="container">

    <h1>Important Dates and Events</h1>
    
  <h2>Important Dates</h2>
    <p>
        Important Dates goes here...
		
	</p>
    <ul>
        <li>March 3: Do stuff</li>
	    <li>August 5 - October 12 Important stuff</li>
        <li>December 25 - Christmas</li>
    </ul>
    <h2>Calendar</h2>
    <div class="responsiveCal">

       <iframe src="https://calendar.google.com/calendar/embed?src=beevengersdates%40gmail.com&ctz=America%2FAnchorage" id="iframe" style="border: 0" width="1100" height="600" frameborder="0" scrolling="no"></iframe>
    </div>

</div>

    <hr>



<!--MAIN END-->


<!-- include the JS into this page -->
<script src="{% static 'pages/homepage/script.js' %}"></script>

{% endblock %}
<script type="text/javascript">

});
</script>
