{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<!-- import the style sheet for this particular page -->
<link rel="stylesheet" type="text/css" href="{% static 'pages/calendar/style_calendar.css' %}">



<!--MAIN START-->

<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color:#eee5be">
    <li class="breadcrumb-item"><a href="{%url 'homepage'%}">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">More</li>
      <li class="breadcrumb-item active" aria-current="page">Calendar</li>

  </ol>
</nav>
<div id="calendar" class="container">
 <div id="jumbotronContentContainer" class="container col-lg-5">
        <div id="jumbotronCosntent" class="text-center">

            <h1>Calendar</h1>

            <h4>Important Dates and Events</h4>


        </div>
 </div>

    <div class="calendar-container">
                <iframe style="border: 0;" src="https://calendar.google.com/calendar/embed?src=alaskabeekeeping%40gmail.com&ctz=America%2FAnchorage" frameborder="0" width="800" height="600" scrolling="yes"></iframe>
            </div>
 </div>





<!--MAIN END-->


<!-- include the JS into this page -->
<script src="{% static 'pages/homepage/script.js' %}"></script>

{% endblock %}
<script type="text/javascript">

});
</script>
