{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<!-- import the style sheet for this particular page -->
<link rel="stylesheet" type="text/css" href="{% static 'overwintering_in_cold_weather/honey_bee_health/style_honey_bee_health.css' %}">



<!--MAIN START-->
<ol class="breadcrumb"style="background-color:#eee5be">
    <li class="breadcrumb-item"><a class="breadcrumbLink" href="{%url 'homepage'%}">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">Advanced Topics</li>
    <li class="breadcrumb-item active" aria-current="page">Honey Bee Health</li>

  </ol>
<div class="container">
    <h1>Honey Bee Health and Nutrition</h1>
    <ul>
        <li>
            <p>Honey bee health:
                <br>
                <a target="_blank" class="themeLink" href="https://bee-health.extension.org/honey-bee-nutrition/">
                    https://bee-health.extension.org/honey-bee-nutrition/
                </a>
            </p>
        </li>

        <li>
            <p>Honey bee nutrition:
                <br>
                <a target="_blank" class="themeLink" href="https://www.beeculture.com/randy-oliver-honeybee-nutrition-part-1-2/">
                    https://www.beeculture.com/randy-oliver-honeybee-nutrition-part-1-2/
                </a>
                <br>
                and
                <br>
                <a target="_blank" class="themeLink" href="https://www.beeculture.com/randy-oliver-honeybee-nutrition-part-2-2/">
                    https://www.beeculture.com/randy-oliver-honeybee-nutrition-part-2-2/
                </a>
            </p>
        </li>

        <li>
            <p>Honey bee nutrition and supplemental feeding:
                <br>
                <a target="_blank" class="themeLink" href="https://beesource.com/resources/usda/honey-bee-nutrition-and-supplemental-feeding/">
                    https://beesource.com/resources/usda/honey-bee-nutrition-and-supplemental-feeding/
                </a>
            </p>
        </li>

        <li>
            <p>Honey Bee Health. Problems and Solutions:
                <br>
                <a target="_blank" class="themeLink" href="https://www.splendidtable.org/story/honey-bee-health-problems-solutions-colony-collapse-disorder">
                    https://www.splendidtable.org/story/honey-bee-health-problems-solutions-colony-collapse-disorder
                </a>
            </p>
        </li>

        <li>
            <p>NAPPC Honey Bee Health Task Force:
                <br>
                <a target="_blank" class="themeLink" href="https://www.pollinator.org/learning-center/bee-issues">
                    https://www.pollinator.org/learning-center/bee-issues
                </a>
            </p>
        </li>

        <li>
            <p>Agriculture and Bees. What consumers need to know:
                <br>
                <a target="_blank" class="themeLink" href="https://cms.business-services.upenn.edu/morrisarboretum-blog/303-agriculture-and-bees-what-consumers-need-to-know.html">
                    https://cms.business-services.upenn.edu/morrisarboretum-blog/303-agriculture-and-bees-what-consumers-need-to-know.html
                </a>
            </p>
        </li>

        <li>
            <p>A review of factors that put pollinators and agriculture in Europe at risk:
                <br>
                <a target="_blank" class="themeLink" href="http://sos-bees.org/wp-content/uploads/2014/04/BeesInDecline.pdf">
                    http://sos-bees.org/wp-content/uploads/2014/04/BeesInDecline.pdf
                </a>
                <br>
                and
                <br>
                <a target="_blank" class="themeLink" href="https://honeybeehealthcoalition.org">
                    https://honeybeehealthcoalition.org
                </a>
            </p>
        </li>
    </ul>
</div>
<!--MAIN END-->
<!-- include the JS into this page -->
<script src="{% static 'overwintering_in_cold_weather/honey_bee_health/script_honey_bee_health.js' %}"></script>

{% endblock %}
