{% extends 'pages/base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<!-- import the style sheet for this particular page -->
<link rel="stylesheet" type="text/css" href="{% static 'pages/different_bees/style_different_bees.css' %}">


<div class="container">
    <div id="differentBees">
        <h1>Different Bees</h1>
        <p>
            Honey Bees are flown up to Alaska each Spring by commercial businesses. Initial orders are placed in late
            January and the first honey bees arrive in early April. So beeks must be ready for them, sometimes, when
            there is still snow on the ground!
        </p>
        <p>
            The three most common types of honey bees that are available here are:  Carniolan, Italian, and Buckfast
            bees. Some Russian honey bees are in Alaska, but they are fewer in number.
        </p>
        <p>
        The following descriptions have been taken from Countrysidenetwork.com
        </p>

        <hr>
        <h2>Carniolan Bees</h2>
        <img class="beeImage img-thumbnail" src="{% static 'pages/different_bees/images/carniolan_bee.jpg' %}">
        <!-- image taken from: https://en.wikipedia.org/wiki/Carniolan_honey_bee -->
        <p>
            Carniolan bees are a subspecies of the western honeybee and originated in what is now Slovenia. They can also
            be found in Hungary, Romania, Croatia, Bosnia, Herzegovina, and Serbia.
        </p>

        <h4>Pros</h4>
        <ul>
            <li>Defend their hive well from pests</li>
            <li>Not aggressive toward beekeepers</li>
            <li>Able to quickly adjust hive size based on environmental issues</li>
            <li>Able to conserve honey stores</li>
            <li>Can overwinter with fewer bees</li>
            <li>Less susceptible to brood disease</li>
            <li>Forages in cooler, overcast weather</li>
        </ul>
        <h4>Cons</h4>
        <ul>
            <li>Prone to swarm</li>
            <li>More likely to need supplemental feeding — especially in the early spring</li>
            <li>Has a hard time in hot summers</li>

        </ul>

        <hr>

        <!-- image taken from: https://en.wikipedia.org/wiki/Italian_bee -->
        <h2>Italian Bees</h2>
        <img class="beeImage img-thumbnail" src="{% static 'pages/different_bees/images/italian_bee.jpg' %}">
        <p>
            The Italian bee is the most popular bee for beekeepers in North American. They were brought to the
            United States in the mid-1800s and are considered the best bee for beginning beekeepers.
        </p>

        <h4>Pros</h4>
        <ul>
            <li>Adaptable to various climates</li>
            <li>Good honey producers</li>
            <li>Gentle and non-aggressive</li>
            <li>Great foragers</li>
            <li>Large colonies</li>
            <li>Darker queen – making her easier to identify</li>
        </ul>
        <h4>Cons</h4>
        <ul>
            <li>Prone to rob and drift</li>
            <li>Raises brood late in fall which means more mouths to feed in winter</li>
            <li>They do not cluster tightly in the winter so they consume more honey to stay warm</li>

        </ul>

        <hr>

        <!-- image taken from: http://keepingbee.org/buckfast-bees/-->
        <h2>Buckfast Bees</h2>
        <img class="beeImage img-thumbnail" src="{% static 'pages/different_bees/images/buckfast_bees.jpg' %}">
        <p>
            Buckfast bees were developed by Brother Adam who was a monk at Buckfast Abby in England in the early 1900s.
            He was in charge of the bees in the Abby during the time when the acarine parasite mite (a tracheal mite)
            invaded and killed thousands of bee colonies across England. He took the hives that survived and started a
            breeding program which eventually produced the Buckfast bees.
        </p>

        <h4>Pros</h4>
        <ul>
            <li>High honey producers</li>
            <li>Good foragers</li>
            <li>Low inclination to swarm</li>
            <li>Low inclination to sting</li>
            <li>Cold hardy and seem to overwinter well</li>
            <li>High tracheal mite tolerance</li>
        </ul>
        <h4>Con</h4>
        <ul>
            <li>
                The biggest con to Buckfast bees is that if you let them naturally requeen, the second generation likely
                to be aggressive. So you will need to continue to purchase Buckfast queens in order to keep the
                aggressiveness low.
            </li>
        </ul>

        <hr>

        <!-- image taken from: https://billsrussianbeeblog.wordpress.com/2013/02/19/share-comments/ -->
        <h2>Russian Bees</h2>
        <img class="beeImage img-thumbnail" width='300px' src="{% static 'pages/different_bees/images/russian_bee.jpg' %}">
        <p>
            Russian bees are relatively new to North America, coming to the United States in 1997 from the Primorsky
            region in Russia. They were brought in by the Agricultural Research Service because they have a natural
            resistance to Varroa and Tracheal mites. These bees became available for purchase in 2000.
        </p>

        <h4>Pros</h4>
        <ul>
            <li>Resistant to Varroa and Tracheal mites</li>
            <li>Tends to rear brood only during times of nectar and pollen flow</li>
            <li>Not aggressive</li>
            <li>Frugal in their honey consumption</li>
            <li>Overwinter well</li>
            <li>Maintains queen cells all season long</li>
        </ul>
        <h4>Con</h4>
        <ul>
            <li>
                Tends to swarm
            </li>
        </ul>

        <hr>

        <p>
            When starting beekeeping it’s best to pick the species you think will do best but be open to change. All of
            these species are good choices, but beekeeping is an art as much as it is a science. As a beekeeper, you
            will want to keep an eye on your bee hives and be observant of them.
        </p>

        <p>
            If you see a lot of activity, it might mean that you need to add more space lest they decide to swarm. If
            you see very little activity it might mean that they have already swarmed and you’ll need to decide how to
            best help the remaining bees.
        </p>

        <p>
            If you notice that the hives are robbing other hives or being aggressive toward you, it might mean that the
            hive needs to be re-queened, especially if the hive is several years old. The second generation from a queen
            is usually not as genetically pure as the first.
        </p>

    </div>
</div>



<!-- include the JS into this page -->
<script src="{% static 'pages/different_bees/script_different_bees.js' %}"></script>

{% endblock %}