{% extends 'pages/base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<!-- import the style sheet for this particular page -->
<link rel="stylesheet" type="text/css" href="{% static 'pages/different_bees/style_different_bees.css' %}">


<div class="container">
    <h1>
    This is the Different Bees page.<br>
    If this header is red, the css is connected.<br>
    If this page got a 'hello' alert, the javascript is connected.
    </h1>
    <h2>Different Bees page.</h2>
</div>



<!-- include the JS into this page -->
<script src="{% static 'pages/different_bees/script_different_bees.js' %}"></script>

{% endblock %}