{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<!-- import the style sheet for this particular page -->
<link rel="stylesheet" type="text/css" href="{% static 'research_and_videos/recommended_sites/style_recommended_sites.css' %}">



<!--MAIN START-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{%url 'homepage'%}">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">Research and Videos</li>
    <li class="breadcrumb-item active" aria-current="page">Recommended Sites</li>

  </ol>
<div id="recomended sites" class="container">
     <div id="jumbotronContentContainer" class="container col-lg-5">
        <div id="jumbotronContent" class="text-center">
    <h2>Recommended Sites</h2>
    <p>These are sites we recommend where you can learn more about bees</p>
    <h3>Bee Health</h3>

    <h3>Hive Maintence</h3>
    <h3>Supplies</h3>
    <h3>Bee News</h3>
        </div>
     </div>
</div>

<!--MAIN END-->
<!-- include the JS into this page -->
<script src="{% static 'research_and_videos/recommended_sites/script_recommended_sites.js' %}"></script>

{% endblock %}
