{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<!-- import the style sheet for this particular page -->
<link rel="stylesheet" type="text/css" href="{% static 'research_and_videos/recommended_sites/style_recommended_sites.css' %}">



<!--MAIN START-->

<ol class="breadcrumb" style="background-color:#eee5be">
    <li class="breadcrumb-item"><a href="{%url 'homepage'%}">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">Research and Videos</li>
    <li class="breadcrumb-item active" aria-current="page">Recommended Sites</li>

  </ol>
<div id="recomended sites" class="container">

    <h1>Recommended Sites</h1>
    <h5>These are sites we recommend where you can learn more about bees</h5>

    <h3>Bee Health</h3>
        <ul>
            <!-- <li></li> -->
        </ul>

    <h3>Hive Maintenance</h3>
        <ul>
            <!-- <li></li> -->
        </ul>

    <h3>Supplies</h3>
    <ul>
            <!-- <li></li> -->
        </ul>

    <h3>Bee News</h3>
    <ul>
            <!-- <li></li> -->
        </ul>

</div>



<!--MAIN END-->
<!-- include the JS into this page -->
<script src="{% static 'research_and_videos/recommended_sites/script_recommended_sites.js' %}"></script>

{% endblock %}
