body {
    position: relative;
    background-color:#eee5be;
}

p {

    margin:0;
    padding-top:10px;

}

.themeLink {

    color:#0477c4;
    font-weight:bold;

}

.themeLink:hover {

    color:#004879;

}

.themeBgColor {
    background-color: #ffc217;
}

#defaultButton {

    background-color: #3498db;
    color:white;

}

#defaultButton:hover{

    background-color: #1d5275;

}

/* Start: header */
#logoImage {

    height:40px;

}

#headerSearch {

    margin-right:10px;

}

/* End: header */

/* Start: footer */

    /* START: footer group link */
    #groupButtonContainer{

        padding-top:10px;

    }

    #groupButtonContainer a:hover{

        text-decoration:none !important;

    }
    /* END: footer group link */

.footerColPadding {

    padding:20px 0px;

}

.social-icon {

    width:48px;
    margin-left:10px;

}

/* End: footer */

