{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<!-- import the style sheet for this particular page -->
<link rel="stylesheet" type="text/css" href="{% static 'overwintering_in_cold_weather/colony_analysis/style_colony_analysis.css' %}">



<!--MAIN START-->
<ol class="breadcrumb" style="background-color:#eee5be">
    <li class="breadcrumb-item"><a class="breadcrumbLink" href="{%url 'homepage'%}">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">Advanced Topics</li>
    <li class="breadcrumb-item active" aria-current="page">Colony Analysis</li>

  </ol>

<div class="container">
    <h1>Colony Analysis</h1>
    <ul>
        <li>
            <p>Overwintering honey bees. Biology and management:
                <br>
                <a target="_blank" class="themeLink" href="https://ento.psu.edu/pollinators/publications/overwintering-honey-bees-biology-and-management">
                    https://ento.psu.edu/pollinators/publications/overwintering-honey-bees-biology-and-management
                </a>
            </p>
        </li>

        <li>
            <p>The ultimate guide to overwintering success:
                <br>
                <a target="_blank" class="themeLink" href="https://www.honeybeesuite.com/the-ultimate-guide-to-overwintering-success/">
                    https://www.honeybeesuite.com/the-ultimate-guide-to-overwintering-success/
                </a>
            </p>
        </li>

        <li>
            <p>
                Indoor wintering small honey bee colonies, R. L. Wilson, C. A. Abel, L. L. Lockhart and M. H. Huss, Journal of the Kansas Entomological Society. Vol. 72, No. 3 (July 1999), pp 289-296
            </p>
        </li>
    </ul>
</div>
<!--MAIN END-->
<!-- include the JS into this page -->
<script src="{% static 'overwintering_in_cold_weather/colony_analysis/script_colony_analysis.js' %}"></script>

{% endblock %}
