{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<!-- import the style sheet for this particular page -->
<link rel="stylesheet" type="text/css" href="{% static 'pages/homepage/style_homepage.css' %}">


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>
<div id="headerJumbotron" class="jumbotron" >
    <div id="jumbotronContentContainer" class="container col-lg-5">
        <div id="jumbotronContent" class="text-center" >
            <h1 class="display-4">Alaska Beekeeping</h1>
            <p class="lead">Find out how you can help the bees.</p>
            <hr class="my-4">
            <p><strong>Want to know more? Join our mailing list!</strong></p>
            <form>

                <div class="form-row justify-content-center">

                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputGroup">Username</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@</div>
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
                        </div>
                    </div>

                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-2">Sign up</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<div id="about" class="container">

    <h1>About</h1>
    <p>
        This Website and accompanying Facebook page is for Alaska beekeepers (Alaska Beeks) and others seeking
        information about keeping honey bees, and maintaining honey bee health, in the 49th state. The honey-producing
        season in Alaska is brief, compared to seasons in other states, and after a mild spring and a wet and sunny
        summer, the calendar is rounded out by sometimes bone-chilling temperatures during our long winter months.
        This page is primarily intended as an encouragement for those involved and considering the art, informed by
        science, of beekeeping. This can become a welcoming question-and-answer forum for all of us. Most of all we
        want to encourage and help Alaska beeks be successful. Please join us in dialogs, questions and answers,
        about beekeeping in Alaska. We'd like to see this Website and Facebook page grow by means of a grassroots
        growth efforts!
    </p>

    <hr>

    <div id="founderDescription">
        <h1>Founder</h1>

        <div class="row">
            <div class="col-md-6">
                <img class="img-thumbnail" id="profilePic" src="{% static 'pages/homepage/images/client_pic.jpg' %}">
            </div>

            <div class="col-md-6">

                <h3>Contact</h3>
                <p><strong>Phone: </strong><a class="themeLink" href="tel:907-231-0321">(907) 231-0321</a></p>
                <p><strong>Email: </strong><a class="themeLink" href = "mailto: AlaskaBeekeeping@gmail.com">AlaskaBeekeeping@gmail.com</a></p>

            </div>
        </div>
    </div>

</div>



<!-- include the JS into this page -->
<script src="{% static 'pages/homepage/script.js' %}"></script>

{% endblock %}